/**
* 
<div class="lu-loading--cube-grid">
  <div class="lu-loading--cube-grid__child"></div>
  <div class="lu-loading--cube-grid__child"></div>
  <div class="lu-loading--cube-grid__child"></div>
  <div class="lu-loading--cube-grid__child"></div>
  <div class="lu-loading--cube-grid__child"></div>
  <div class="lu-loading--cube-grid__child"></div>
  <div class="lu-loading--cube-grid__child"></div>
  <div class="lu-loading--cube-grid__child"></div>
  <div class="lu-loading--cube-grid__child"></div>
</div>
*/

.lu-loading--cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;

  &__child {
    width: 33%;
    height: 33%;
    background-color: $--theme-color;
    float: left;
    animation: lu-loading-cubeGridScaleDelay 1.3s infinite ease-in-out;

    &:nth-of-type(1) {
      animation-delay: 0.2s;
    }
    &:nth-of-type(2) {
      animation-delay: 0.3s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.4s;
    }
    &:nth-of-type(4) {
      animation-delay: 0.1s;
    }
    &:nth-of-type(5) {
      animation-delay: 0.2s;
    }
    &:nth-of-type(6) {
      animation-delay: 0.3s;
    }
    &:nth-of-type(7) {
      animation-delay: 0s;
    }
    &:nth-of-type(8) {
      animation-delay: 0.1s;
    }
    &:nth-of-type(9) {
      animation-delay: 0.2s;
    }
  }
}

@keyframes lu-loading-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}